# QcmPlab code output files...

*.dat
*.ed
*.inc
*.info
*.err
*.err.*
*.restart
*.used
used.*
*.txt
*.nint.*

# Test folders

test*/

# Pictures

*.png
*.svg
*.pdf
*.fig

# Log files...

*LOG*
*log*
*Log*
*time*
*TIME*
*Time*

# Input parameter lists...

*list_*

# Weird things on NTFS

.goutputstream*

# Weird things on macOS

.DS_Store

###############################
# Language-dependent Sections #
######################################################################################


### MATLAB #############################################################
# Created by https://www.toptal.com/developers/gitignore/api/matlab    #
# Edit at https://www.toptal.com/developers/gitignore?templates=matlab #
########################################################################

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
#*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# Added: we don't want to save .mat data
*.mat

### LaTeX #############################################################

# LaTeX temporary files
*.aux
*.log
*.toc

# PDF output - usually a bad idea to keep this in Git
*.pdf

# Latexmk
*.fdb_latexmk
*.fls

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg